.gradient {
    background-image: linear-gradient(to right, #0558FC, #9E24D8);
    max-height: 186px;
}

.puzzle--line {
    display: flex;
    background-color: transparent;
    padding: 0;
    mix-blend-mode: overlay;
}