:root {
    --bg-color: #000;
    --textColor: #fff;
    --yellow: #EBD96B;
    --blue: #0558FC;
    --light-blue: #A7D0FF;
    --purple: #9E24D8;
    --gray: #7f7f7f;
    --green: #11EF72;
}

body {
    font-family: 'Russo One', sans-serif;
    color: var(--textColor);
    background-color: var(--bg-color);
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 30px;
}

.title-2 {
    display: inline-block;
    position: relative;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.04;
    letter-spacing: 0.06em;    
}

.title-2::after {
    content: "";
    position: absolute;

    z-index: -1;

    right: 0;
    bottom: 0;
    width: 190px;
    height: 32px;
    background-image: url('./../img/icons/decor-yellow.svg');
    background-repeat: no-repeat;
}

.title-3 {
    display: inline-block;
    position: relative;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.04;
    letter-spacing: 0.06em;
    text-align: center;   
}