.promo {
    margin-bottom: 63px;
}

.promo__content {
    border-radius: 59px;
    background-image: url('./../../img/images/promo-bg.png');
    background-repeat: no-repeat;
    display: flex;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;
    margin: 0px 30px 0px 30px;
}

.promo__title {
    margin-bottom: 40px;
    font-size: 96px;
    font-weight: 900;
    line-height: 1.25;
    max-width: 480px;
}

.promo__desc {
    font-size: 30px;
    font-weight: 400;
    line-height: calc(48/32);
    letter-spacing: -0.05em;
    white-space: nowrap;
}

.promo__btn-wrapper {
    display: flex;
    column-gap: 34px;
    align-items: center;
    padding: 20px 0px;
    position: relative;
}

.promo__btn-wrapper::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 210px;
    transform: translateY(-50%);
    width: 116px;
    height: 130px;
    background-image: url('./../../img/icons/ghost-icon-green.png');
    transition: transform 0.3s ease;
    z-index: 0;
}

.promo__btn {
    padding: 18px 40px;
    background: var(--green);
    border-radius: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: -0.05em;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.promo__btn:hover {
    transform: translateY(-3px);
}

.promo__btn-wrapper:hover::before {
    transform: translateY(-50%) rotate(5deg);
}

.highlight__blue {
    position: relative;
    display: inline-block;
}

.highlight__blue span {
    position: relative;

}

.highlight__blue::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    bottom: -0px;
    left: -40px;
    right: -160px;
    background-color: var(--blue);
    transform: rotate(-2deg);
}

.highlight--purple::before {
    background-color: var(--green);
    right: -110px;
}